.certifications-grid__item {
  /* margin: 0px 100px 0px 0px;
  padding: 0px;
  width: 240px; */
  height: 160px;
  width: 160px;
  margin: 60px 40px 43px 40px;
  padding: 0px;
}

@media screen and (max-width: 425px) {
  .certifications-grid__item {
    max-height: 216px;
  }
}
