@import url("./__image/lead__image.css");
@import url("./__title/lead__title.css");
@import url("./__text/lead__text.css");
@import url("./__content/lead__content.css");
@import url("./__links/lead__links.css");
@import url("./__link/lead__link.css");

.lead {
  max-width: 1440px;
  padding: 80px 104px;
  display: flex;
  background-color: #fff;
  margin: auto;
}

/* @media screen and (max-width: 1024px) {
  .lead {
    margin: 40px;
  }
}

@media screen and (max-width: 540px) {
  .lead {
    display: block;
    margin: 0;
    width: 95%;
    margin-top: 8px;
  }
} */
