@import url("./__image/lead__image.css");
@import url("./__title/lead__title.css");
@import url("./__text/lead__text.css");
@import url("./__content/lead__content.css");

.lead {
  display: flex;
  flex-direction: row;
  margin-left: 7vw;
  align-items: center;
  padding: 80px 0;
}

/* @media screen and (max-width: 1024px) {
  .lead {
    margin: 40px;
  }
}

@media screen and (max-width: 540px) {
  .lead {
    display: block;
    margin: 0;
    width: 95%;
    margin-top: 8px;
  }
} */
