.lead__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 100px;
}

@media (max-width: 758px) {
  .lead__image {
    max-height: 317px;
  }
}

@media (max-width: 758px) {
  .lead__image {
    max-height: 238px;
  }
}

@media (max-width: 590px) {
  .lead__image {
    width: 90vw;
    max-height: 463px;
  }
}
