@import url("./__menu-name/nav__menu-name.css");
@import url("./__menu/nav__menu.css");
@import url("./__menu-item/nav__menu-item.css");

.nav {
  background-color: #f5e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
  width: 100%;
  /* width: calc(100% - 296px);
  max-width: 984px; */
}

@media screen and (max-width: 1024px) {
  .nav {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .nav {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .nav {
    width: calc(100% - 32px);
    padding-top: 20px;
  }
}
