.projects__card {
  /* background: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center; */

  /* box-sizing: border-box;
  max-width: 475px; */
  flex: 1 0 270px;
  background: rgb(243, 243, 243);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  align-self: normal;
}

/* .projects__card .img {
  width: 100%;
  height: 220px;
}

.projects__card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
