@import url(./__author/footer__author.css);
@import url(./__link/footer__link.css);
@import url(./__items/footer__link-items.css);
@import url(./__links/footer__links.css);
@import url(./__links-item/footer__links-item.css);

.footer {
  background-color: #f5e7e7;
  display: flex;
  justify-content: center;
  height: 22px;
  padding: 33px 0;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 100%;
  }
}
