@import url("./__socials/footer__socials.css");
@import url("./__social-icon/footer__social-icon.css");
@import url("./__social-link/footer__social-link.css");
@import url("./__author/footer__author.css");

.footer {
  background-color: #f5e7e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 48px;
  margin-top: 40px;
  width: 100%;
}
