@import url("./__title/stack__title.css");
@import url("./__container/stack__container.css");

.stack {
  /* display: flex;
  justify-content: center;
  top: 50px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px; */
}
